

<div class="topic-box">

  <h2> Topic search </h2>


  <p> Topic search <strong> <%= lastSearch %> </strong></p>
  <p> <%= listOfTopics.length %> results </p>

  <ul>
    <% listOfTopics.forEach((oneTopic) => { %>
      <li class="topic-list">
          <img class="photo" src="<%= oneTopic.imageUrl %>" width="150px" height="150px">
        <h3> <%= oneTopic.topic %> </h3>
        <p> Description: <%= oneTopic.description %> </p>

        <a href="/topics/<%= oneTopic._id %>"> Learn More</a>
      </li>
    <%  });  %>
  </ul>

</div>
