
<div class="navigation">
    <a class="topic-link" href="/user-topics"> My topics </a>

    <form class="form-horizontal search" method="get" action="/topic/search-results" >
      <div class="form-group form-group-lg">
        <label for="term-input"> </label>
        <input  class="col-sm-2 control-label input" id="term-input" name="searchTerm" type="search" >
          <button class="btn btn-default glyphicon glyphicon-search new"> </button>

  <div class="logout">
      <a class=" glyphicon glyphicon-log-out log-out" href="/logout"> </a>
  </div>

</div>


<div class="topics">


  <% if (currentUser) { %>
  <h2> Welcome, <%= currentUser.name %>! </h2>
  <% }  %>

<div >

  <ul>

<div class="topic-box">

    <a href="/topics/new"> Create Topics  </a>

  <%  listOfTopics.forEach((oneTopic) => {  %>
      <li class="topic-list">
        <a  class="oneTopic" href="/topics/<%= oneTopic._id %>"> <%= oneTopic.topic %> </a>
        <p> <%= oneTopic.description %> </p>
        <a class="glyphicon glyphicon-trash" href="/topics/<%= oneTopic._id %>/delete"> </a>
        <a  href="/topics/<%= oneTopic._id %>/edit"> Edit </a>
        <br>
        <br>
      </li>



  <%  });   %>
</div>


  </ul>
</div>





  </form>
</div>
