<body class="user-body">




  <% if (currentUser) { %>
  <h2> Welcome, <%= currentUser.name %>! </h2>
  <% }  %>




      <a class="glyphicon glyphicon-plus create" href="/topics/new"> </a>




    <ul>

  <div class="topic-box">



    <%  listOfTopics.forEach((oneTopic) => {  %>
      <div class="topic-list">
        <div class="modifiers">
          <a class="glyphicon glyphicon-trash" href="/topics/<%= oneTopic._id %>/delete"> </a>
          <a  href="/topics/<%= oneTopic._id %>/edit"> Edit </a>
          <br>
          <br>
        </div>
        
        <li>
          <img class="photo" src="<%= oneTopic.imageUrl %>" width="150px" height="150px">
          <a  class="oneTopic big" href="/topics/<%= oneTopic._id %>"> <%= oneTopic.topic %> </a>
          <p> <%= oneTopic.description %> </p>

        </li>
      </div>


    <%  });   %>
  </div>


    </ul>
  </div>





    </form>


</div>
</body>
