<body class="user-body">



<div class="signup">

    <div >

        <img class="photoTopic" src="<%= topicInfo.imageUrl %>" width="120px" height="120px">

      <h2> <%= topicInfo.topic %> </h2>

      <h3 class="descriptionTopic"> <%= topicInfo.description %> </h3>

      <h3 class="descriptionTopic"> <%= topicInfo.steps %> </h3>

                <a  href="/topics/<%= topicInfo._id %>/edit"> Edit </a>
    </div>


</div>



</body>
