<body class="user-body">


  <div class="signup form-group">




      <h2> Edit Topic </h2>

      <form class="form-inline" action="/topics/<%= topicInfo._id %>" method="post" enctype="multipart/form-data">




      <input class="form-control input-sm chat-input topicName" id="topic-input" name="topicName" type="text" value="<%= topicInfo.topic %>">

      <input id="image-input" class="upload" name="topicPhoto" type="file" value="<%= topicInfo.imageUrl%>">

          <br>
          <br>


          <textarea class="textarea form-control" id="description-input" name="topicDescription" cols="80" rows="5"> <%= topicInfo.description %> </textarea>
          <br>


          <textarea class="textarea form-control" id="steps-input" name="topicSteps" cols="80" rows="8" > <%= topicInfo.steps %></textarea>
          <br>

        <button class="btn btn-default click"> Save this topic </button>

      </form>
    </div>
    </form>
  </div>
</body>
